
.backdrop {
    background-color: rgba(0, 0, 0, 0.622);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.newservermodalwrapper {
    
    background-color: aliceblue;
    border-radius: 5px;



    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    padding: 30px;
    max-width: 40vw;
    min-width: 300px;
    z-index: 11;

    transition-property: all;
    transition-duration: 500ms;

    
}

#newserverform *{
    transition-duration: 500ms;
    pointer-events: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#newserverform header {
    display: flex;
    flex-direction: column;
    /* min-width: fit-content; */
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 0px;

}

#newserverform header h3 {
    margin: 5px;
    font-size: 23px;
    font-weight: 600;
}

#newserverform header h5 {
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: gray
}

#newserverform button {
    display: flex;
    align-items: center;
    width: 100%;
    border: solid 1px rgb(189, 189, 189);
    border-radius: 5px;
    background-color: inherit;
    font-size: 15px;
    font-weight: 600px;
    padding: 5px;
    color: rgb(37, 37, 37);
}

#newserverform button:hover {
    cursor: pointer;
    background-color: rgb(224, 232, 239);
}

#newserverform button img {
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.nameInput {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    font-size: 14px;
    font-weight: 600px;
    color:rgb(87, 87, 87)

}

.nameInput #servername {
    width: 91%;
    padding: 10px;
    margin-top: 10px;
    

}

#newserverform #submissionbutton {
    background-color: rgb(127, 116, 243);
    color: rgb(233, 230, 230);
    padding: 10px;
    max-width: 100px;
    display: flex;
    justify-content: center;
}

#newserverform #submissionbutton:hover {
    background-color: rgb(102, 93, 199);

}


#newserverform #notworkingbutton {
    background-color: rgb(190, 186, 227);
    color: rgb(233, 230, 230);
    padding: 10px;
    max-width: 100px;
    display: flex;
    justify-content: center;
}

#newserverform #notworkingbutton:hover {
    cursor: not-allowed;
}

#newserverform #submitters {
    margin-top: 25px;
    display: flex;
    justify-content: end;

}

.iconInput img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.iconInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iconInput input {
    margin-left: 10%;
}

#joinsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#joinsection div {
    margin-bottom: 10px;

}

#joinsection #joinbutton {
    display: flex;
    justify-content: center;
    background-color: rgb(107, 107, 107);
    color: rgb(238, 238, 238);
    padding: 15px;
}

#joinsection #joinbutton:hover {
    background-color: rgb(90, 89, 89);
}   


#invitersection {
    display: flex;
    flex-direction: column;

}

#invitersection span {
    color: rgb(241, 32, 32);
    font-size: 15px;
    font-style: italic;

}

#invitersection input {
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    color: rgb(102, 102, 102);
    background-color: rgb(207, 219, 224);
    margin-top: 5px;
}

#submitters #submissionbbutton {
    background-color: rgb(127, 116, 243);
    color: rgb(233, 230, 230);
    padding: 10px;
    max-width: 100px;
    display: flex;
    justify-content: center;
}

#submitters #submissionbbutton:hover {
    background-color: rgb(96, 87, 189);

}   
