.UserStatusBar {
    margin: 0px;
    background-color: rgb(34, 37, 41);
    display: flex;
    width: 100%;
    max-width: 657px;
    height: 53px;
    justify-content: space-evenly;
    padding-right: 0px;
}

.infosection .UserName {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
    font-weight: 600;
    font-size: 12px;
    margin: 5px;
    margin-top: 8px;
    max-width: 65px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Tag {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(187, 187, 187);
    font-weight: 500;
    font-size: 11px;
    margin: 5px;
}

.UserInfo {
    display: flex;

    border-radius: 5px;
    margin: 5px;
}

.UserInfo:hover {
    background-color: rgb(110, 110, 110);
}

.UserImage {
    margin-bottom: 0;
}

.UserImage img {
    max-width: 36px;
    margin: 3px;
    margin-right: 3px;
    border-radius: 50px;
}

.MuteButton, .DeafenButton, .SettingsButton {

    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px;
    display: inline-block;
    max-width: 35px;
    min-width: 35px;
    background: none;
    border-style: none;
}
.MuteButton:hover, .DeafenButton:hover, .SettingsButton:hover {
    background-color: rgb(110, 110, 110);;
    border-radius: 5px;

}

/* .UserStatusBar i {
    size: 10px;
} */