.HomePageWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.ServersNav {
    max-width: 74px;
    min-width: 74px;

}

.Convos {
    width: 240px;
    min-width: 240px;
    position: relative;
}

.UserStatusBar {
    position: absolute;
    bottom: 0px
    
}

.SubNavigation {
    background-color: rgb(46, 49, 54)
}