.HomePageWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;

}

button {
    cursor: pointer;
}

.ServersNav {

    min-width: 74px;

}

.Convos {
    width: 240px;
    min-width: 240px;
    position: relative;

    left: 74px;
    z-index: 10px;


}

.UserStatusBar {
    position: absolute;
    bottom: 0px
    
}

.SubNavigation {
    background-color: rgb(44, 47, 51)

}

.ServersNav {
    position: absolute;

    /* overflow: scroll; */

    z-index: 10;
    top: 0px;
    bottom: 0px;

}

.ShowDisplay {
    position: absolute;
    left: 314px;
    width: calc(100vw - 317px);
}