.message {
    display: flex;
    margin-left: 0px;
    padding-left: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(223, 226, 229);
    font-size: 17px;
    margin-top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    position:relative;
    
}



.message button {
    display: none;
    position: absolute;
    top: -15px;
    right: 10px;
    transition-property: all;
    transition-duration: 150ms;
    height: 30px;
    width: 30px;
    color:rgb(223, 226, 229);
    background-color: rgb(52, 53, 56);
}

.message button.editmessagebutton {
    display: none;
    position: absolute;
    top: -15px;
    right: 50px;
    transition-property: all;
    transition-duration: 150ms;
    height: 30px;
    width: 30px;
    color:rgb(223, 226, 229);
    background-color: rgb(52, 53, 56);
}

.message:hover button.editmessagebutton:hover {
    color: rgb(140, 174, 254);
}


.message:hover button {
    display: initial;
    border: none;
    border-radius: 10px;

}

.message:hover button.editmessagebutton {
    display: initial;
    border: none;
    border-radius: 10px;
}

.message:hover button:hover {

    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.805);
    color: rgb(238, 86, 86);

}

.message img.avatar {
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50px;
}


.message header {
    display: flex;
    align-items: end;
    margin-bottom: 6px;
}

.message header h5 {
    font-weight: 600;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.messagecontents {
    
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messagecontents p {
    font-weight: 300;
}

.message header span {
    color:rgb(139, 142, 144);
    font-weight: 400;
    font-size: 12.5px;
}

.message .ImageContainer {
    width: 45px;
}

.message .emptyImageContainer {
    width: 50px;
    height: 10px;
}

.message.withimage {
    padding-bottom: 0px;
    padding-top: 2px;
    margin-top: 20px;
}

.message:hover {
    background-color: rgba(17, 17, 25, 0.262);
}

.message .editingspan {
    display: flex;
    position: relative;
    width: 100%;
}

.editingspan button {
    position: initial;
    display: initial;
    border: none;
}

.editingspan form {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    background-color: rgb(54, 56, 60);
    margin-bottom: 10px;
    max-width: 400px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.editingspan form input {
    width: auto;
    max-width: 500px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:rgb(223, 226, 229);
    background-color: rgb(79, 80, 84);
}

.editingspan form div.buttonscontainer {
    display: flex;
    justify-content: start;
}

.editingspan form div.buttonscontainer button:first-of-type{
    background-color: rgba(165, 42, 42, 0);
    width: 100px;
    box-shadow: none;
    color:green;
    margin-right: 20px;
}    

.editingspan form div.buttonscontainer button:first-of-type:hover{
    color: rgb(34, 165, 34)
}

.editingspan form div.buttonscontainer button{
    background-color: rgba(165, 42, 42, 0);
    width: 55px;
    box-shadow: none;
    color:rgb(220, 43, 43)
}    

.editingspan form div.buttonscontainer button:hover{
    color: rgb(255, 109, 109);
    box-shadow: none;

}
