@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.ServerSettingsModalWrapper {
    position: absolute;
    top:0;
    left: -74px;
    width: 125vw;
    height:100vh;
    background-color: rgb(45, 46, 48);
    z-index:20;
    padding: 0px;
    display: flex;
    color:rgb(182, 183, 183);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: .20s ease-out 0s 1 slideInLeft;

}

.DeletionWrapper header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

}

header #deletionwarning {

    width: 92%;
    margin-left: 4%;
    display: flex;
    justify-content: center;

    background-color: rgb(210, 159, 38);
    margin-bottom: 20px;
    height: 70px;
    border-radius: 10px;
    color: white;
}



.ServerSettingsModalWrapper .ServerSettingsSubNav {
    display: flex;
    /* position: fixed; */
    left: 0px;
    flex-direction: column;
    align-items: start;
    padding: 50px;
    padding-right: 10px;
    padding-left: 100px;
    max-width: 40vw;
    min-width: 180px;
    width: 20%;
    height: 100vh;
    background-color: rgb(43, 43, 45);
}

.ServerSettingsSubNav h3 {
    font-size: 13px;
    flex-wrap: none;
    font-weight: 600;
    padding: 10px;
}

.ServerSettingsSubNav ul li {
    margin: 10px;
    margin-left: 5px;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    padding-left: 5px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ServerSettingsSubNav ul {
    min-width: 100%
}

.ServerSettingsSubNav ul li:hover {
    background-color: rgb(83, 83, 83);
    min-width: 80%;
    cursor: pointer;


}

.ServerSettingsSubNav ul li.selected {
    background-color: rgb(83, 83, 83);

}


.ServerSettingsModalWrapper button {

    position: absolute;
    top: 50px;
    right: 30vw;
    height: 35px;
    border-radius: 5px;
    border-style: none;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.643);
    position: absolute;
    width: 100vw;
    height:100vh;
}

.DeletionWrapper {
    position: absolute;
    left: 30%;
    top: 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 49);
    min-width: 500px;
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    z-index: 51;
}

.DeletionForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    

}

.DeletionForm input {
    margin-top: 15px;
    width: 87%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    background-color: rgb(34, 33, 38);
    color:whitesmoke;
}

.DeletionForm label {
    font-size: 12px;
    width: 92%;

}




button#turnback {
    position: initial;
    background: none;
    font-size: 13px;
    color: rgb(181, 181, 181)

}

.DeletionForm button#submitterr {
    position: initial;
    background-color: rgb(236, 67, 67);
    /* margin-top: 5px; */
    color: whitesmoke;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}
.DeletionForm button#submitterr:hover {
    background-color: rgb(116, 36, 36);
    transition-property: all;
    transition-duration: 200ms;
}

#buttonss {
    display: flex;
    width: 100%;
    padding-top:5px;
    padding-bottom: 5px;
    align-items: center;

    justify-content: end;
    margin-top: 20px;
    background-color: rgb(36, 36, 37);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

#buttonss button {
    margin: 15px;
}

.DeletionWrapper h3 {
    font-size: 22px;
    margin-top: 10px;
    margin: 20px;
    margin-bottom: 20px;



}

.DeletionWrapper h5 {
    margin-top: 10px;
    margin: 20px;
    margin-bottom: 40px;
}

img#warning {
    position: absolute;
    left:0;
    top: 200px;
    z-index: 50;
}