

.ShowWrapper {
    width: 100%;
}

.DetailNav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    border-bottom: solid 2px rgb(44, 44, 44);
    overflow: hidden;
    white-space: nowrap;
    color: rgb(214, 212, 212);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.DetailNav .bufferhash {
    color: gray;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
}

.DetailNav .descript {
    display: flex;
    justify-content: start;
    margin-left:  20px;
    align-items: center;
    color: rgb(150, 150, 151);
    font-size: 15px;
    font-weight: 400;
}

.descript .smalldiv {
    min-height: 24px;
    width: 1px;
    background-color: rgb(118, 118, 118);
    border-radius: 15px;
    margin-right: 18px;
}

.ChatWrapper {
    display: flex;
    min-width: 625px;
    width: 100%;
    justify-content: space-between;
}

.ParticipantsList {

    position: relative;
    right:0px;
    width: 240px;
    min-width: 240px;
    padding: 10px;
    height: 90vh;
    display: flex;
    background-color: rgb(42, 44, 49);
}

.ChatterBox {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ChatForm {
    position: sticky;
    bottom: 0;

    width: 100%;
    background-color: aqua;
}

.ChatForm form {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    position: relative;
    bottom: 0px;
}

.ChatLog {
    overflow-y: scroll;
    position: relative;
    margin-bottom: 50px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    

}

.ChatForm input {
    width: 100%;

    padding: 10px;


}